/*! main */

/**
 * skeleton
 */

body {
	background: #ebebeb;
}



/**
 * page
 */
#page {
	margin: 0 auto 0 150px;
	padding: 0;
	background: #fcf;
}



#header {
	width: 100%;
	height: 50px;
	position: fixed;
	background: #fff;
	z-index: 99;
}


/**
 * nav
 */

ul#main_navigation {
	text-align: center;
}

ul#main_navigation li {
	display: inline;
}



ul#main_navigation a {
	width: 200px;
	height: 100px;
	background: #cfcfcf;
}

ul#main_navigation a:hover {
    transition: .3s background-color;
}








section#main {
	position: relative;
	top: 50px;
	width: 100%;
	background: #3e274b;
	color: #fff;
}




h1 {
	height: auto;
}

